@model CourseViewModel
@{

}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Student Information</h3>
                </div>
                <div class="box-body">
                    <p><strong>Student Name:</strong> @Model.StudentName</p>
                    <p><strong>Program:</strong> @Model.Program @Model.Courses.Count() Courses</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Courses</h3>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>Course Code</th>
                                <th>Course Name</th>
                                <th>Description</th>
                                <!-- Add more course-related columns as needed -->
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var course in Model.Courses)
                            {
                                <tr>
                                    <td><input type="checkbox" /></td>
                                    <td>@course.Code</td>
                                    <td>@course.Name</td>
                                    <td>@course.Description</td>
                                    <!-- Display more course-related data in additional columns -->
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

